.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.listItem {
  list-style: inside;
  padding-left: 10px;
  margin-bottom: 4px;
}

.code {
  font-family: monospace, monospace;
}

.paragraph {
  margin-bottom: 4px;
}