.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 40px auto;
  padding: 30px;
  width: 100%;
  max-width: 992px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  min-height: 500px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
}

.separator {
  margin: 24px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 0;
}

.thirdTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.fourthTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.experienceTitle {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2;
}

.term {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

.stack {
  font-size: 14px;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.6);
  line-height: 1.3;
}

.experienceStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.stackItem {
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin-right: 12px;
  margin-bottom: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px;
  border-radius: 6px;
}

.experienceList {
  margin-bottom: 12px;
  max-width: 80%;
}

.experienceSubtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.experienceListItem {
  font-size: 14px;
  font-weight: 300;
  list-style: circle;
  list-style-position: inside;
  margin-bottom: 6px;
  line-height: 1.5;
}

.experienceWrapper {
  margin-bottom: -12px;
}